<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div class="row bg-primary bg-gradient bg-opacity-25">
  <div class="col"><strong>Name:</strong></div>
  <div class="col"><strong>Shortname:</strong></div>
  <div class="col"><strong>Students list:</strong></div>
  <div class="col"><strong>Field:</strong></div>
  <div class="col"></div>
</div>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<%= link_to "New group", new_group_path, class: "btn btn-sm btn-primary" %>
