<div id="<%= dom_id field %>">


  <div class="row bg-secondary bg-gradient bg-opacity-25">
    <div class="col"><%= field.name %></div>
    <div class="col"><%= link_to "Show this field", field, class: "btn btn-sm btn-primary" %></div>
  </div>
  <p>


  </p>

</div>
