
<nav class="navbar bg-body-tertiary mx-auto" >
  <div class="btn-group" role="group">
    <%= link_to "Courses", courses_path, class: "btn btn-sm btn-info"%>
    <%= link_to "Fields", fields_path, class: "btn btn-sm btn-secondary"%>
    <%= link_to "Groups", groups_path, class: "btn btn-sm btn-primary"%>
    <%= link_to "Students", students_path, class: "btn btn-sm btn-warning"%>
  </div>
</nav>
